// footer gubbins

html, body {
    height: 100%;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#layout {
   min-height:100%;
   position:relative;
}
#header {
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   padding-top:10px
}

//main

@-webkit-keyframes 'blink' {
    50% { background: #cc0000;  color: #ffffff; }
}

/* these are actually used - not sure about the others anymore */
.round-corners {
  background-color: #fff;
  border: 1px solid #CCC;
  margin: 2px 0px 4px;
  padding: 5px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.lozenge {
  background-color: #fff;
  padding: 0px 5px;
  font-weight: bold;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

